.advantages#advantages
	
	// container

	.container

		.row

			.col-md-12

				// title block

				.title-block

					h3
						| Вам понравится у нас, потому что:
					p

						| Кто, если не мы:

	// container

	.container.advantages__content

		.row

			.col-md-3

			.col-md-3

				// item

				.advantages__content__item

					img(src="../img/icons/icon-24.png" alt="@@")

					p
						| Для вас подберут наиболее подходящий товар с учетом ваших индивидуальных запросов  и дадут максимальную консультацию

			.col-md-3

				// item

				.advantages__content__item

					img(src="../img/icons/icon-25.png" alt="@@")

					p
						| Вам будет удобно добираться до нас. Мы расположены во всех районах города.

			.col-md-3

		.row

			.col-md-3

			.col-md-3

				// item

				.advantages__content__item

					img(src="../img/icons/icon-6.png" alt="@@")

					p
						| Мы не являмся "агентами" определенных брендов и никогда не будем что-либо навязывать.

			.col-md-3

				// item

				.advantages__content__item

					img(src="../img/icons/icon-26.png" alt="@@")

					p
						| Вы всегда можете четко планировать свое время — вам окажут услугу ровно с 10:00 до 21:00

			.col-md-3