.gift

	// container

	.container

		.row

			.col-md-12

				.title-block

					h3
						| Хотите сделать кому-то подарок?

					.hr-title-purple

					p
						| Ваш подарок будет запоминающимся при любом бюджете

	// container

	.container.gift__content

		.row

			.col-md-4
				
				// item

				.gift__content__item
					img(src="../img/gifts/gift-1.jpg" alt="@@")
					p
						| Вибратор A-toys <br/> с подогревом, 26,5 см.
					span
						| 3 200 рублей

			.col-md-4

				// item

				.gift__content__item
					img(src="../img/gifts/gift-2.jpg" alt="@@")
					p
						| WE-VIBE Bloom Тренажер Кегеля <br/> - виброшарики вагинальные
					span
						| 9 000 рублей

			.col-md-4

				// item

				.gift__content__item
					img(src="../img/gifts/gift-3.jpg" alt="@@")
					p
						| WE-VIBE Sensations in Sync <br/> Набор Sync + Tango
					span
						| 13 900 рублей