.types-of-goods#goods

	// container

	.container

		.row

			.col-md-12

				h3.color-red
					| Для неё

	// container

	.container

		.row

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-1.png" alt="@@")
					p
						| Фаллоимитаторы

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-2.png" alt="@@")
					p
						| Фистинг

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-3.png" alt="@@")
					p
						| Эротически наборы

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-4.png" alt="@@")
					p
						| Секс-машины и эро-мебель

	// container

	.container

		.row

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-5.png" alt="@@")
					p
						| Анальные стимуляторы

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-6.png" alt="@@")
					p
						| Фетиш, БДСМ

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-7.png" alt="@@")
					p
						| Феромоны

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-8.png" alt="@@")
					p
						| Женское бельё

	// container

	.container

		.row

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-9.png" alt="@@")
					p
						| Вибраторы

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-10.png" alt="@@")
					p
						| Клиторальные стимуляторы

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-11.png" alt="@@")
					p
						| Лубриканты, Гели, Спреи

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-12.png" alt="@@")
					p
						| Презервативы

	// container

	.container

		.row

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-13.png" alt="@@")
					p
						| Вибростимуляторы
						
			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-14.png" alt="@@")
					p
						| Ваигнальные шарики

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-15.png" alt="@@")
					p
						| Для стимуляции груди

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-16.png" alt="@@")
					p
						| Страпоны

	// container

	.container

		.row

			.col-xs-12.col-md-3

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-17.png" alt="@@")
					p
						| Женские возбудители

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-18.png" alt="@@")
					p
						| Электросекс

			.col-xs-12.col-md-3

	// container

	.container

		.row

			.col-md-12

				h3.color-blue
					| Для него

	// container

	.container

		.row

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-19.png" alt="@@")
					p
						| Мастурбаторы

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-20.png" alt="@@")
					p
						| Насадки, Кольца

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-21.png" alt="@@")
					p
						| Вакуумные помпы

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-6.png" alt="@@")
					p
						| Фетиш, БДСМ

	// container

	.container
			
		.row

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-15.png" alt="@@")
					p
						| Секс куклы

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-12.png" alt="@@")
					p
						| Презервативы

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-11.png" alt="@@")
					p
						| Лубриканты, Гели, Спреи

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-7.png" alt="@@")
					p
						| Феромоны

	// container

	.container

		.row

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-4.png" alt="@@")
					p
						| Секс-машины

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-22.png" alt="@@")
					p
						| БАДЫ

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-23.png" alt="@@")
					p
						| фалопротезы

			.col-xs-6.col-md-3

				// item

				.types-of-goods__item
					img(src="../img/icons/icon-3.png" alt="@@")
					p
						| Эротически наборы