@media only screen and (min-width : @mobile) and  (max-width : @desktop) {

	// action

	.action {
		padding-bottom: 100px;
		position: relative;
		height: auto;
		overflow: hidden;
		background: url('../img/action-bg.jpg') no-repeat center;
		background-size: cover;
	}

	.action__body {
		margin-top: 130px;
		height: auto;
	}

	.timer {
		margin-left: 0px;
		position: relative;
		width: auto;
		height: auto;
		background: @white;
		overflow: hidden;
	}

	.timer__body {
		margin: 5% 5%;
		width: 90%;
		height: 90%;
		overflow: hidden;
		background: url('../img/timer.jpg') no-repeat center;
		background-size: cover;
	}

	.timer__content {
		height: 80px;
		margin-top: 30px !important;

		span {
			font-size: 16px !important;
		}

	}

	#timer15c670a342eaf07865e20ff589c8886a {
		min-width: 100% !important;
	}

	.action__body__description {
		padding-left: 0px;
		height: auto;
		text-align: center;

		h4 {
			margin-top: 0px;
			margin-bottom: 20px;
			font: 60px @akr-bold;
			color: @white;
			text-transform: uppercase;
		}

		h5 {
			font: 34px @akr-regular;
			color: @white;
		}

		p {
			font: 24px @akr-light;
			color: @white !important;
		}

		span {
			margin-top: 36px;
			display: block;
			font: 60px @akr-regular;
			color: @white;
		}

	}

	.action__body__stimulation {
		display: block;
		margin: 0 auto;
		position: relative;
		width: 50%;
		height: auto;
	}

}