@media only screen and (min-width : @desktop) {

	// bonus program

	.bonus-program {
		padding: 106px 0 260px 0;
		height: auto;
		background: url('../img/bonus-program-bg.jpg') no-repeat center;
		background-size: cover;
	}

}