.bonus-program

	// container

	.container

		.row

			.col-md-12

				h3
					| Бонусная программа

				.hr-title-yellow

	// container

	.container.bonus-program__content

		.row

			.col-md-12

				.bonus-program__content__bonus-card

				h4
					| УСЛОВИЯ бонусной программы:
					
				.hr-title-yellow-small

				ul
					li
						| -статус карты золотая 14% от суммы всей покупки, если она составляет 900 рублей и выше, срок жизни бонусов 30 дней
					li
						| -статус карты серебряная 8% от суммы всей покупки, если она составляет 500рублей и выше, срок жизни бонусов 60 дней
					li
						| -статус карты бронзовая 3% от суммы всей покупки, срок жизни бонусов 180 дней 
					li
						| -каждое последующее начисление бонусов пролонгирует срок жизни бонусов
					li
						| -на день рожденье начисляются 300 бонусов за 7 дней до дня рожденья, срок жизни 21 день 
					li
						| -1 бонус = 1 рубль 
					li
						| -рассчитаться можно бонусами, но не более 90% от стоимости товара 
					li
						| -бонусы начисляются на следующий день после покупки 
					li
						| -получить карту можно наших в магазинах, совершив покупку и заполнив анкету