@import '../styles/fonts.css';
.btn {
  display: inline-block;
  padding: 0 56px !important;
  height: 76px;
  border-radius: 6px;
}
.btn-blue {
  background: #0fb9bd;
  font: 30px 'CANDARA';
  color: #f02c60;
  text-transform: uppercase;
  line-height: 76px;
  font-weight: bold;
}
.btn-blue:hover {
  background: #f02c60;
  color: #fff;
}
a,
a:hover,
li,
img,
input,
textarea {
  transition: all 0.5s ease-in-out;
}
body {
  cursor: default;
  overflow-x: hidden !important;
}
a {
  cursor: pointer;
}
p {
  font: 14px 'tahoma';
  color: #f00 !important;
}
@media only screen and (min-width: 1200px) {
  .footer {
    padding: 52px 0;
    background: #191d27;
    position: relative;
  }
  .footer__logo {
    margin: 30px 0 0 -337px;
  }
  .footer__content {
    height: auto;
  }
  .footer__content h4 {
    margin-bottom: 30px;
    font: 20px 'akrobatregular';
    color: #fff;
    text-transform: uppercase;
  }
  .footer__content p {
    margin-bottom: 20px;
    font: 15px 'akrobatregular';
    text-transform: uppercase;
    color: #fff !important;
  }
  .footer__content a,
  .footer__content a:hover {
    margin-bottom: 34px;
    display: block;
    color: #fff;
    font: 16px 'akrobatsemibold';
  }
  .footer__link-email {
    font-family: 'akrobatsemibold' !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .footer {
    padding: 52px 0;
    background: #191d27;
    position: relative;
  }
  .footer__logo {
    margin: 30px 0 0 -337px;
  }
  .footer__content {
    height: auto;
  }
  .footer__content h4 {
    margin-bottom: 30px;
    font: 20px 'akrobatregular';
    color: #fff;
    text-transform: uppercase;
  }
  .footer__content p {
    margin-bottom: 20px;
    font: 15px 'akrobatregular';
    text-transform: uppercase;
    color: #fff !important;
  }
  .footer__content a,
  .footer__content a:hover {
    margin-bottom: 34px;
    display: block;
    color: #fff;
    font: 16px 'akrobatsemibold';
  }
  .footer__link-email {
    font-family: 'akrobatsemibold' !important;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    position: relative;
    height: 145px;
    background: #191d27;
  }
  .logo {
    display: block;
    position: absolute;
    width: 257px;
    height: 82px;
  }
  .header__logo {
    margin: 32px 0 0 -337px;
  }
  .navigation {
    margin-top: 62px;
    display: inline-block;
    height: 20px;
  }
  .navigation ul li {
    display: inline-block;
  }
  .navigation ul li a,
  .navigation ul li a:hover {
    margin-right: 85px;
    display: block;
    font: 17px 'akrobatregular';
    color: #fff;
    text-transform: uppercase;
  }
  .navigation ul li a:hover,
  .navigation ul li a:hover:hover,
  .navigation ul li a:focus,
  .navigation ul li a:hover:focus {
    color: #1c59ba;
    text-decoration: underline;
  }
  .header__phone-number {
    margin-top: 54px;
    width: 100%;
    display: block;
    height: 36px;
    background: url('../img/mobile.png') no-repeat right;
    font: 17px 'akrobatregular';
    color: #db0000;
    line-height: 32px;
  }
  .header__phone-number:hover {
    color: #fff;
    text-decoration: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .header {
    position: relative;
    height: 145px;
    background: #191d27;
  }
  .logo {
    display: block;
    position: absolute;
    width: 257px;
    height: 82px;
  }
  .header__logo {
    margin: 32px 0 0 -337px;
  }
  .navigation {
    margin-top: 62px;
    display: inline-block;
    height: 20px;
  }
  .navigation ul li {
    display: inline-block;
  }
  .navigation ul li a,
  .navigation ul li a:hover {
    margin-right: 85px;
    display: block;
    font: 17px 'akrobatregular';
    color: #fff;
    text-transform: uppercase;
  }
  .navigation ul li a:hover,
  .navigation ul li a:hover:hover,
  .navigation ul li a:focus,
  .navigation ul li a:hover:focus {
    color: #1c59ba;
    text-decoration: underline;
  }
  .header__phone-number {
    margin-top: 54px;
    width: 100%;
    display: block;
    height: 36px;
    background: url('../img/mobile.png') no-repeat right;
    font: 17px 'akrobatregular';
    color: #db0000;
    line-height: 32px;
  }
  .header__phone-number:hover {
    color: #fff;
    text-decoration: none;
  }
}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
