@import '../styles/fonts.css';
.title-block {
  height: auto;
  text-align: center;
}
.title-block h3 {
  font: 48px 'akrobatbold';
  text-transform: uppercase;
  color: #3f66c8;
}
.title-block p {
  font: 30px 'akrobatbold';
  text-transform: uppercase;
  color: #c02c9b !important;
}
a,
a:hover,
li,
img,
input,
textarea {
  transition: all 0.5s ease-in-out;
}
body {
  cursor: default;
  overflow-x: hidden !important;
}
a {
  cursor: pointer;
}
p {
  font: 14px 'tahoma';
  color: #f00 !important;
}
.color-red {
  color: #cd333f;
}
.color-blue {
  color: #195abc;
}
@media only screen and (min-width: 1200px) {
  .about {
    padding: 110px 0;
    position: relative;
    height: auto;
    background: url('../img/gradient-bg.jpg') no-repeat center;
    background-size: cover;
  }
  .about__content {
    width: 509px;
    height: 509px;
    background: url('../img/border-gradient.png') no-repeat;
  }
  .about__content__body {
    margin: 35px 0 0 80px;
    position: absolute;
    width: 500px;
    height: 500px;
  }
  .about__content__body h3 {
    font: 48px 'akrobatsemibold';
    text-transform: uppercase;
    color: #fff;
  }
  .about__content__body p {
    font: 16px 'akrobatlight';
    color: #fff !important;
  }
  .hr-small-white {
    margin-bottom: 14px;
    width: 75px;
    height: 4px;
    background: #fff;
  }
  .about__simulation {
    margin: 20px 0 0 100px;
    position: absolute;
    width: 500px;
    height: 500px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .about {
    padding: 110px 0;
    position: relative;
    height: auto;
    background: url('../img/gradient-bg.jpg') no-repeat center;
    background-size: cover;
  }
  .about__content {
    width: 509px;
    height: 509px;
    background: url('../img/border-gradient.png') no-repeat;
  }
  .about__content__body {
    margin: 35px 0 0 80px;
    position: absolute;
    width: 500px;
    height: 500px;
  }
  .about__content__body h3 {
    font: 48px 'akrobatsemibold';
    text-transform: uppercase;
    color: #fff;
  }
  .about__content__body p {
    font: 16px 'akrobatlight';
    color: #fff !important;
  }
  .hr-small-white {
    margin-bottom: 14px;
    width: 75px;
    height: 4px;
    background: #fff;
  }
  .about__simulation {
    margin: 20px 0 0 100px;
    position: absolute;
    width: 500px;
    height: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  .main-screen {
    height: 1088px;
    overflow: hidden;
    background: url('../img/main-screen.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
  }
  .main-screen h2 {
    margin-top: 282px;
    margin-bottom: -20px;
    font: 75px 'akrobatbold';
    text-transform: uppercase;
  }
  .main-screen h3 {
    font: 51px 'akrobatregular';
    text-transform: uppercase;
  }
  .main-screen p {
    font: 24px 'akrobatextralight';
    color: #fff !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .main-screen {
    height: 1088px;
    overflow: hidden;
    background: url('../img/main-screen.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
  }
  .main-screen h2 {
    margin-top: 282px;
    margin-bottom: -20px;
    font: 75px 'akrobatbold';
    text-transform: uppercase;
  }
  .main-screen h3 {
    font: 51px 'akrobatregular';
    text-transform: uppercase;
  }
  .main-screen p {
    font: 24px 'akrobatextralight';
    color: #fff !important;
  }
}
@media only screen and (min-width: 1200px) {
  .advantages {
    padding: 195px 0 225px 0;
    height: auto;
    overflow: hidden;
    background: url('../img/advantages-bg.jpg') no-repeat center;
    background-size: cover;
  }
  .advantages__content {
    height: auto;
    margin: 60px auto 0 auto;
  }
  .advantages__content__item {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 230px;
    text-align: center;
  }
  .advantages__content__item img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 160px;
    height: auto;
  }
  .advantages__content__item p {
    font: 16px 'akrobatregular';
    color: #3f66c8 !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .advantages {
    padding: 195px 0 225px 0;
    height: auto;
    overflow: hidden;
    background: url('../img/advantages-bg.jpg') no-repeat center;
    background-size: cover;
  }
  .advantages__content {
    height: auto;
    margin: 60px auto 0 auto;
  }
  .advantages__content__item {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 230px;
    text-align: center;
  }
  .advantages__content__item img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 160px;
    height: auto;
  }
  .advantages__content__item p {
    font: 16px 'akrobatregular';
    color: #3f66c8 !important;
  }
}
@media only screen and (min-width: 1200px) {
  .bonus-program {
    padding: 106px 0 260px 0;
    height: auto;
    overflow: hidden;
    background: #fff url('../img/bonus-program-bg.jpg') no-repeat center;
    background-size: cover;
  }
  .bonus-program h3 {
    font: 50px 'akrobatbold';
    color: #f2ce32;
    text-align: center;
    text-transform: uppercase;
  }
  .bonus-program__content {
    position: relative;
    margin-top: 80px;
    height: auto;
  }
  .bonus-program__content h4 {
    font: 30px 'akrobatbold';
    color: #f2ce32;
    text-align: left;
    text-transform: uppercase;
  }
  .bonus-program__content ul {
    margin-top: 30px;
    -webkit-padding-start: 0px;
    height: auto;
  }
  .bonus-program__content ul li {
    list-style: none;
    font: 20px 'akrobatregular';
    color: #1e59b9;
    text-transform: uppercase;
    line-height: 42px;
  }
  .bonus-program__content__bonus-card {
    bottom: -108px;
    right: -190px;
    position: absolute;
    width: 541px;
    height: 274px;
    border-radius: 28px;
    background: url('../img/bonus-card.png') no-repeat;
    -webkit-box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.75);
  }
  .hr-title-yellow {
    margin: 0 auto;
    width: 82px;
    height: 5px;
    background: #f2ce32;
  }
  .hr-title-yellow-small {
    width: 82px;
    height: 5px;
    background: #f2ce32;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .bonus-program {
    padding: 106px 0 260px 0;
    height: auto;
    overflow: hidden;
    background: #fff url('../img/bonus-program-bg.jpg') no-repeat center;
    background-size: cover;
  }
  .bonus-program h3 {
    font: 50px 'akrobatbold';
    color: #f2ce32;
    text-align: center;
    text-transform: uppercase;
  }
  .bonus-program__content {
    position: relative;
    margin-top: 80px;
    height: auto;
  }
  .bonus-program__content h4 {
    font: 30px 'akrobatbold';
    color: #f2ce32;
    text-align: left;
    text-transform: uppercase;
  }
  .bonus-program__content ul {
    margin-top: 30px;
    -webkit-padding-start: 0px;
    height: auto;
  }
  .bonus-program__content ul li {
    list-style: none;
    font: 20px 'akrobatregular';
    color: #1e59b9;
    text-transform: uppercase;
    line-height: 42px;
  }
  .bonus-program__content__bonus-card {
    bottom: -108px;
    right: -190px;
    position: absolute;
    width: 541px;
    height: 274px;
    border-radius: 28px;
    background: url('../img/bonus-card.png') no-repeat;
    -webkit-box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.75);
  }
  .hr-title-yellow {
    margin: 0 auto;
    width: 82px;
    height: 5px;
    background: #f2ce32;
  }
  .hr-title-yellow-small {
    width: 82px;
    height: 5px;
    background: #f2ce32;
  }
}
@media only screen and (min-width: 1200px) {
  .callback {
    padding: 70px;
    background: url('../img/callback-form-bg.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
  }
  .callback h3 {
    font: 30px 'akrobatbold';
    text-transform: uppercase;
    text-align: center;
  }
  .callback form {
    margin-top: 72px;
  }
  .hr-title-white {
    margin: 0 auto;
    width: 86px;
    height: 4px;
    background: #fff;
  }
  .callback__form {
    margin: 0 auto;
    width: 850px;
    color: #fff;
  }
  .callback__form input[type="text"] {
    margin-bottom: 64px;
    padding: 0 8%;
    width: 100%;
    height: 57px;
    background: 0;
    border: 3px solid #fff;
    border-radius: 25px;
    outline: 0;
    color: #fff;
  }
  .callback__form input[type="text"]:hover,
  .callback__form input[type="text"]:focus {
    border-color: #1e59b9;
  }
  .callback__form input[type="submit"] {
    width: 100%;
    height: 57px;
    background: #1e59b9;
    border: 0;
    border-radius: 25px;
    font: 19px 'akrobatsemibold';
    text-transform: uppercase;
  }
  .callback__form input[type="submit"]:hover {
    background: #fff;
    color: #1e59b9;
  }
  input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  input::-moz-placeholder {
    color: #fff;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  input:-moz-placeholder {
    color: #fff;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  input:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  input:focus::-webkit-input-placeholder {
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  input:focus::-moz-placeholder {
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  input:focus:-moz-placeholder {
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  input:focus:-ms-input-placeholder {
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .callback {
    padding: 70px;
    background: url('../img/callback-form-bg.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
  }
  .callback h3 {
    font: 30px 'akrobatbold';
    text-transform: uppercase;
    text-align: center;
  }
  .callback form {
    margin-top: 72px;
  }
  .hr-title-white {
    margin: 0 auto;
    width: 86px;
    height: 4px;
    background: #fff;
  }
  .callback__form {
    margin: 0 auto;
    width: auto;
    color: #fff;
  }
  .callback__form input[type="text"] {
    margin-bottom: 64px;
    padding: 0 8%;
    width: 100%;
    height: 57px;
    background: 0;
    border: 3px solid #fff;
    border-radius: 25px;
    outline: 0;
    color: #fff;
  }
  .callback__form input[type="text"]:hover,
  .callback__form input[type="text"]:focus {
    border-color: #1e59b9;
  }
  .callback__form input[type="submit"] {
    width: 100%;
    height: 57px;
    background: #1e59b9;
    border: 0;
    border-radius: 25px;
    font: 19px 'akrobatsemibold';
    text-transform: uppercase;
  }
  .callback__form input[type="submit"]:hover {
    background: #fff;
    color: #1e59b9;
  }
  input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  input::-moz-placeholder {
    color: #fff;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  input:-moz-placeholder {
    color: #fff;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  input:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  input:focus::-webkit-input-placeholder {
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  input:focus::-moz-placeholder {
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  input:focus:-moz-placeholder {
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  input:focus:-ms-input-placeholder {
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
@media only screen and (min-width: 1200px) {
  .footer {
    padding: 52px 0;
    background: #191d27;
    position: relative;
  }
  .footer__logo {
    margin: 30px 0 0 -337px;
  }
  .footer__content {
    height: auto;
  }
  .footer__content h4 {
    margin-bottom: 30px;
    font: 20px 'akrobatregular';
    color: #fff;
    text-transform: uppercase;
  }
  .footer__content p {
    margin-bottom: 20px;
    font: 15px 'akrobatregular';
    text-transform: uppercase;
    color: #fff !important;
  }
  .footer__content a,
  .footer__content a:hover {
    margin-bottom: 34px;
    display: block;
    color: #fff;
    font: 16px 'akrobatsemibold';
  }
  .footer__link-email {
    font-family: 'akrobatsemibold' !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .footer {
    padding: 52px 0;
    background: #191d27;
    position: relative;
  }
  .footer__logo {
    margin: 30px 0 0 -337px;
  }
  .footer__content {
    height: auto;
  }
  .footer__content h4 {
    margin-bottom: 30px;
    font: 20px 'akrobatregular';
    color: #fff;
    text-transform: uppercase;
  }
  .footer__content p {
    margin-bottom: 20px;
    font: 15px 'akrobatregular';
    text-transform: uppercase;
    color: #fff !important;
  }
  .footer__content a,
  .footer__content a:hover {
    margin-bottom: 34px;
    display: block;
    color: #fff;
    font: 16px 'akrobatsemibold';
  }
  .footer__link-email {
    font-family: 'akrobatsemibold' !important;
  }
}
@media only screen and (min-width: 1200px) {
  .gift {
    padding: 38px 0 58px 0;
    background: #fff;
    text-align: center;
  }
  .hr-title-purple {
    margin: 6px auto 16px auto;
    width: 86px;
    height: 4px;
    background: #c02c9b;
  }
  .gift__content {
    margin-top: 56px;
  }
  .gift__content__item {
    margin: 0 auto;
    width: auto;
  }
  .gift__content__item img {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
  }
  .gift__content__item p {
    font: 19px 'akrobatlight';
    text-transform: none !important;
    color: #3f66c8 !important;
  }
  .gift__content__item span {
    display: block;
    font: 17px 'akrobatbold';
    color: #c02c9b;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .gift {
    padding: 38px 0 58px 0;
    background: #fff;
    text-align: center;
  }
  .gift h3 {
    font: 48px 'akrobatbold';
    text-transform: uppercase;
    color: #3f66c8;
  }
  .gift p {
    font: 30px 'akrobatbold';
    text-transform: uppercase;
    color: #c02c9b !important;
  }
  .hr-title-purple {
    margin: 6px auto 16px auto;
    width: 86px;
    height: 4px;
    background: #c02c9b;
  }
  .gift__content {
    margin-top: 56px;
  }
  .gift__content__item {
    margin: 0 auto;
    width: auto;
  }
  .gift__content__item img {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
  }
  .gift__content__item p {
    font: 19px 'akrobatlight';
    text-transform: none !important;
    color: #3f66c8 !important;
  }
  .gift__content__item span {
    display: block;
    font: 17px 'akrobatbold';
    color: #c02c9b;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    position: relative;
    height: 145px;
    background: #191d27;
  }
  .logo {
    display: block;
    position: absolute;
    width: 257px;
    height: 82px;
  }
  .header__logo {
    margin: 32px 0 0 -337px;
  }
  .navigation {
    margin-top: 62px;
    display: inline-block;
    height: 20px;
  }
  .navigation ul li {
    display: inline-block;
  }
  .navigation ul li a,
  .navigation ul li a:hover {
    margin-right: 85px;
    display: block;
    font: 17px 'akrobatregular';
    color: #fff;
    text-transform: uppercase;
  }
  .navigation ul li a:hover,
  .navigation ul li a:hover:hover,
  .navigation ul li a:focus,
  .navigation ul li a:hover:focus {
    color: #1c59ba;
    text-decoration: underline;
  }
  .header__phone-number {
    margin-top: 54px;
    width: 100%;
    display: block;
    height: 36px;
    background: url('../img/mobile.png') no-repeat right;
    font: 17px 'akrobatregular';
    color: #db0000;
    line-height: 32px;
  }
  .header__phone-number:hover {
    color: #fff;
    text-decoration: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .header {
    position: relative;
    height: 145px;
    background: #191d27;
  }
  .logo {
    display: block;
    position: absolute;
    width: 257px;
    height: 82px;
  }
  .header__logo {
    margin: 32px 0 0 -337px;
  }
  .navigation {
    margin-top: 62px;
    display: inline-block;
    height: 20px;
  }
  .navigation ul li {
    display: inline-block;
  }
  .navigation ul li a,
  .navigation ul li a:hover {
    margin-right: 85px;
    display: block;
    font: 17px 'akrobatregular';
    color: #fff;
    text-transform: uppercase;
  }
  .navigation ul li a:hover,
  .navigation ul li a:hover:hover,
  .navigation ul li a:focus,
  .navigation ul li a:hover:focus {
    color: #1c59ba;
    text-decoration: underline;
  }
  .header__phone-number {
    margin-top: 54px;
    width: 100%;
    display: block;
    height: 36px;
    background: url('../img/mobile.png') no-repeat right;
    font: 17px 'akrobatregular';
    color: #db0000;
    line-height: 32px;
  }
  .header__phone-number:hover {
    color: #fff;
    text-decoration: none;
  }
}
@media only screen and (min-width: 1200px) {
  .main-screen {
    height: 1088px;
    overflow: hidden;
    background: url('../img/main-screen.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
  }
  .main-screen h2 {
    margin-top: 282px;
    margin-bottom: -20px;
    font: 75px 'akrobatbold';
    text-transform: uppercase;
  }
  .main-screen h3 {
    font: 51px 'akrobatregular';
    text-transform: uppercase;
  }
  .main-screen p {
    font: 24px 'akrobatextralight';
    color: #fff !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .main-screen {
    height: 1088px;
    overflow: hidden;
    background: url('../img/main-screen.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
  }
  .main-screen h2 {
    margin-top: 282px;
    margin-bottom: -20px;
    font: 75px 'akrobatbold';
    text-transform: uppercase;
  }
  .main-screen h3 {
    font: 51px 'akrobatregular';
    text-transform: uppercase;
  }
  .main-screen p {
    font: 24px 'akrobatextralight';
    color: #fff !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .terms-of-action {
    padding: 80px 0;
    height: auto;
    overflow: hidden;
    background: #f8f8f8;
  }
  .terms-of-action h3 {
    font: 40px 'akrobatbold';
    text-align: center;
    color: #3f66c8;
  }
  .terms-of-action__content {
    height: auto;
    margin-top: 54px;
  }
  .terms-of-action__content ul {
    height: auto;
  }
  .terms-of-action__content ul li {
    margin-bottom: 36px;
    height: 39px;
    list-style: none;
  }
  .terms-of-action__content ul li span {
    margin-right: 27px;
    float: left;
    display: block;
    width: 39px;
    height: 39px;
    background: #fff343;
    border-radius: 50%;
    font: 24px 'akrobatregular';
    text-align: center;
    line-height: 39px;
    color: #cd333f;
  }
  .terms-of-action__content ul li p {
    font: 20px 'akrobatregular';
    line-height: 39px;
    color: #cd333f !important;
  }
}
@media only screen and (min-width: 1200px) {
  .terms-of-action {
    padding: 80px 0;
    height: auto;
    overflow: hidden;
    background: #f8f8f8;
  }
  .terms-of-action h3 {
    font: 40px 'akrobatbold';
    text-align: center;
    color: #3f66c8;
  }
  .terms-of-action__content {
    height: auto;
    margin-top: 54px;
  }
  .terms-of-action__content ul {
    height: auto;
  }
  .terms-of-action__content ul li {
    margin-bottom: 36px;
    height: 39px;
    list-style: none;
  }
  .terms-of-action__content ul li span {
    margin-right: 27px;
    float: left;
    display: block;
    width: 39px;
    height: 39px;
    background: #fff343;
    border-radius: 50%;
    font: 24px 'akrobatregular';
    text-align: center;
    line-height: 39px;
    color: #cd333f;
  }
  .terms-of-action__content ul li p {
    font: 20px 'akrobatregular';
    line-height: 39px;
    color: #cd333f !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .types-of-goods {
    padding: 30px 0;
    height: auto;
    background: url('../img/types-of-goods-bg.jpg') no-repeat center;
    background-size: cover;
  }
  .types-of-goods h3 {
    margin-bottom: 30px;
    font: 40px 'akrobatregular';
    text-transform: uppercase;
    text-align: center;
  }
  .types-of-goods__item {
    margin-bottom: 45px;
    height: auto;
    text-align: center;
  }
  .types-of-goods__item img {
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
  }
  .types-of-goods__item p {
    font: 16px 'akrobatregular';
    text-transform: uppercase;
    color: #000 !important;
  }
}
@media only screen and (min-width: 1200px) {
  .types-of-goods {
    padding: 30px 0;
    height: auto;
    background: url('../img/types-of-goods-bg.jpg') no-repeat center;
    background-size: cover;
  }
  .types-of-goods h3 {
    margin-bottom: 30px;
    font: 40px 'akrobatregular';
    text-transform: uppercase;
    text-align: center;
  }
  .types-of-goods__item {
    margin-bottom: 45px;
    height: auto;
    text-align: center;
  }
  .types-of-goods__item img {
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
  }
  .types-of-goods__item p {
    font: 16px 'akrobatregular';
    text-transform: uppercase;
    color: #000 !important;
  }
}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
