footer.footer

	// container

	.container

		.row

			.col-md-1

				// logotype

				a.logo.footer__logo(href="#" title="")
					img(src="../img/logo.png" alt="@@")

			.col-md-5

				// about

				.footer__content

					h4
						| О нас

					p
						| This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.

					p
						| This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.

			.col-md-2

			.col-md-3

				// contacts

				.footer__content

					h4
						| Контакты

					a(href="tel:88002001100" title="")
						| 8 800 200 11 00

					a(href="tel:88002001100" title="")
						| 8 800 200 11 00

					a.footer__link-email(href="mailto:sshop@gmail.com" title="")
						| sshop@gmail.com						

			.col-md-1

