header.header

	// container

	.container

		.row

			.col-md-10

				// logotype

				a.logo.header__logo(href="#" title="")
					img(src="../img/logo.png" alt="@@")

				// navigation

				nav.navigation
					ul
						li
							a(data-easing="easeInQuad" href="#about" title="")
								| О нас
						li
							a(data-easing="easeInQuad" href="#goods" title="")
								| Товары
						li
							a(data-easing="easeInQuad" href="#actions" title="")
								| Акции
						li
							a(data-easing="easeInQuad" href="#advantages" title="")
								| Почему мы
						li
							a(data-easing="easeInQuad" href="#map" title="")
								| Контакты


			.col-md-2

				// phone number

				a.header__phone-number(href="tel:88003332200" title="")
					| 8 800 333 22 00
				
				