.terms-of-action

	// container

	.container

		.row

			.col-md-12

				h3
					| УСЛОВИЯ АКЦИИ

	// container

	.container

		.row

			.col-md-2

			.col-md-8

				.terms-of-action__content

					ul
						li
							span
								| 1
							p
								| Акция проходит с 21 ноября 2017 года, по 21 декабря 2017 года включительно
						li
							span
								| 2
							p
								| Определения победителя осуществляется 22 декабря с помощью лототрона
						li
							span
								| 3
							p
								| В акции могут принять участие все клиенты нашей Эро-сети!
						li
							span
								| 4
							p
								| Для участия в акции необходимо купить клубную карту от 3х месяцев
						li
							span
								| 5
							p
								| Действующие скидки на покупку клубной карты не распространяются

			.col-md-2